<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>我的订单 - 达内学子书城</title>
    <link th:href="@{/css/my.order.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/set.css}" rel="stylesheet" />
    <link th:href="@{/js/ligerUI/skins/ligerui-icons.css}" rel="stylesheet"/>
    <link th:href="@{/js/ligerUI/skins/Aqua/css/ligerui-dialog.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/jquery.page.js}"></script>
	<script th:src="@{/js/order.js}"></script>
	<script th:src="@{/js/jquery-migrate-1.2.1.js}"></script>
	<script th:src="@{/js/ligerUI/js/core/base.js}"></script>
	<script th:src="@{/js/ligerUI/js/plugins/ligerDrag.js}"></script>
	<script th:src="@{/js/ligerUI/js/plugins/ligerDialog.js}"></script>
	<script th:src="@{/js/ligerUI/js/plugins/ligerResizable.js}"></script>
    <script th:src="@{/js/cookieUtil.js}"></script>
	<script th:src="@{/js/bookstore.js}"></script>
	<script th:src="@{/js/jquery.cookie.js}"></script>
</head>
<body>
<div id="header">
    <!-- 引入页面顶部文件 -->
    <div th:replace="/commons/top::fragment_top"></div>
    <!-- 主导航-->
    <nav id="nav1">
        <!-- 我的订单导航栏-->
        <div id="nav_order" class="lf">
            <ul>
                <li></li>
            </ul>
        </div>
    </nav>
</div>
<!--我的订单内容区域 #container-->
<div id="container" class="clearfix">
    <!-- 左边栏-->
    <div id="leftsidebar_box" class="lf">
        <div class="line"></div>
        <dl class="my_order">
            <dt onClick="changeImage()">帐号管理<img th:src="@{/img/myOrder/myOrder1.png}"></dt>
            <dd class="first_dd"><a th:href="@{/user/password-change.html}">修改密码</a></dd>
            <dd><a th:href="@{/address/address-add.html}">添加地址</a></dd>
        </dl>
    </div>
    <!-- 右边栏-->
    <div class="rightsidebar_box rt" >
        <div class="order_empty">
         <div id="cover" class="rt">
      <form id="fm-add" method="post" name="form1">
            <!--下单图书编号-->
            <input th:each="book:${param.book}" type="hidden" name="book" th:value="${book}" >
            <!--下单的图书数量-->
            <input th:each="count:${param.count}" type="hidden" name="count" th:value="${count}">
            <div class="txt">
                <p>添加地址
                    <span>
                        <a th:href="@{/}">继续购物</a>
                    </span>
                </p>
                <div class="text">
                    <input type="text" placeholder="收件人" name="receiver" id="receiver" required>
                    <span></span>
                </div>
                <div class="text">
                    <input type="text" placeholder="地址" id="address" name="address" required minlength="6" maxlength="25">
                    <span></span>
                </div>
				<div class="text">
                    <input type="text" placeholder="联系电话" id="rphone" name="rphone" required minlength="11" maxlength="11">
                    <span></span>
                </div>
                <input class="button_login" type="button" value="添加" id="bt-add" />
            </div>
        </form>
        </div>
        </div>
    </div>
</div>
<!-- 引入页面底部文件 -->
<div th:replace="/commons/foot::fragment_foot"></div>
<script type="text/javascript" th:inline="javascript">
$(function () {
     var referer=[[${#request.getHeader('Referer')}]];
     console.log("address-add.html->>"+referer);
    //添加地址
    $('#bt-add').click(function() {
        //PS:每点击一次添加地址，就获取一次TT_TOKEN，从而可以判断用户是否退出了
        var _token = getCookie("TT_TOKEN");
        console.log("address-add.html->>每点击一次添加地址后的TT_TOKEN：" + _token);
        //用户还没登录，不能添加地址
        if (_token == "") {
            console.log("address-add.html->>用户还没登录，不能添加地址");
            window.location.href = "/address/no_login_address.action";
            return;
        }
        console.log("address-add.html->>用户登录了，可以添加地址了");
        //读取用户的输入——表单序列化
        var inputData = $('#fm-add').serialize();
        console.log("address-add.html->>" + inputData);

        //异步提交请求
        $.ajax({
            async: true,
            type: 'POST',
            url: '/address/addAddress.action',
            data: inputData,
            success: function (txt, msg, xhr) {
                // alert("*"+txt+"*");
                if (txt == 'yes') {//添加成功
                    alert("添加地址成功");
                    if (referer.search("/order-confirm.html") !== -1) {
                        //添加成功，则跳到确认订单页面
                        $("#fm-add").attr("action", "/order/orderConfirm.action");
                        //提交表单即可,表单元素包含了要确认订单的图书编号和图书数量
                        $('#fm-add').submit();
                    }
                } else { //添加失败
                    $.ligerDialog.error("<span style='color: red;'>添加地址失败!!</span>");
                }
            }
        });
    });
    //用户按下Enter键的监听事件
    $(document).keydown(function(event){
      if(event.which==13){
          $('#bt-add').trigger("click");
      }
    })
 })
</script>
</body>
</html>
