<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>达内学子书城</title>
    <link th:href="@{/css/item.food.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/slide.css}" rel="stylesheet" />
    <link th:href="@{/css/my.order.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/slide.js}"></script>
	<script th:src="@{/js/cookieUtil.js}"></script>
	<script th:src="@{/js/bookstore.js}"></script>
	<script th:src="@{/js/jquery.page.js}"></script>
	<script th:src="@{/js/jquery.cookie.js}"></script>
</head>
<body>
<!-- 引入页面顶部文件 -->
<div th:replace="/commons/top::fragment_top"></div>
<!-- nav主导航-->
<div>&nbsp;</div>
<!--搜索结果-->
<div class="store">
    <div class="store_top">
        <img th:src="@{/img/banner/icon.png}" alt=""/>
        搜索结果
    </div>
	<div class="store_content">
		<div th:each="tbook:${pageModel.list}">
			<a th:href="@{'/book/detail.action/'+${tbook.isbn}}"><img th:src="@{'/img/goods/'+${tbook.isbn}+'/index.jpg'}" alt=""/></a>
			<p class="one" th:text="${tbook.title}"></p>
			<p class="two">
					<span>
						价格：<span th:text="${tbook.price}"></span>
					</span>
			</p>
			<p class="three">
					<span>
					出版社：<span th:text="${tbook.press}"></span>
					</span>
			</p>
		</div>
   </div>
    <!--分页器-->
	<div style="width:1000px;" class="tcdPageCode"></div>
</div>
<!-- 引入页面底部文件 -->
<div th:replace="/commons/foot::fragment_foot"></div>
<script th:inline="javascript">
    $('.ck-slide').ckSlide({
        autoPlay: true,//默认为不自动播放，需要时请以此设置
        dir: 'x',//默认效果淡隐淡出，x为水平移动，y 为垂直滚动
        interval:3000//默认间隔2000毫秒
    });
	//分页部分
	$(".tcdPageCode").createPage({
		//总页数
		pageCount:  [[${pageModel.pages}]],
		//当前页码
		current: [[${pageModel.pageNum}]],
	    backFn:function(pageNum){
	        window.location.href="/book/showPage.action?pageNum="+pageNum+"&title="+[[${param.title[0]}]];
	    }
	}); 
</script>
</body>
</html>
